*.aps
*.bin
*.png
*.bmp
*.iobj
*.ipdb
*.pdb
*.dat
*.log
x64/
Release/
build/data
build/population
build/render
build/cpp_corona_simulation.exe
.vs/
Debug/
*.pyc
ui_mainwindow.h
*.npy
*.pkl
cpp_corona_simulation.pro.user.*
