*.aps
*.bin
*.bmp
*.iobj
*.ipdb
*.pdb
*.dat
*.log
*.exp
x64/
Release/
build/data
build/population
build/render
build/screenshots
build/cublas*.dll
build/COVID_SIM_UI.exe
build/COVID_SIM_UI.exp
build/COVID_SIM_UI.lib
build/COVID_sim_lib.dll
build/COVID_sim_lib.exe
build/COVID_sim_lib.exp
build/CUDA_functions.dll
build/CUDA_functions.exe
build/CUDA_functions.exp
build/CUDA_functions_d.dll
build/CUDA_functions_d.exe
build/CUDA_functions_d.exp
build/*.ilk
.vs/
Debug/
*.pyc
ui_mainwindow.h
*.npy
*.pkl
COVID_SIM_UI.pro.user.*
build/COVID_DOE/*.dll
build/COVID_DOE/*.exe
build/COVID_DOE/*.ini
build/COVID_DOE/data/*
build/COVID_DOE/platforms/*.dll
build/COVID_DOE/*.png
build/COVID_post/*.dll
build/COVID_post/*.ini
build/COVID_post/data/*
build/COVID_post/platforms/*.dll
build/COVID_post/*.png
build/COVID_visualize/COVID_SIM_UI*
build/COVID_visualize/configuration*
build/COVID_visualize/data/*
build/COVID_visualize/*.dll
build/COVID_visualize/population/demo_points/run*
build/COVID_visualize/platforms/*.dll
build/COVID_visualize/render/*.png
*.pdf
*.sgt
.qmake.stash
*.ts
build/COVID_SIM_UI.app
libs/COVID_sim_lib*
libs/CUDA_functions*
build/intermediates.noindex
XCode/COVID_SIM
XCode/COVID_SIM_CMD
*.DS_Store
*.o
moc_*
build/Makefile
*.tmp
*.asv
opt/.vscode/*
opt/opt_data/*
opt/data/*
opt/NOMAD_exp/*
opt/StoMADS_exp/*
opt/GA_exp/*
opt/COVID_opt*
opt/covid_sim/output_files
opt/covid_sim/network_files