*.aps
*.bin
*.png
*.bmp
*.iobj
*.ipdb
*.pdb
*.dat
*.log
*.exp
x64/
Release/
build/data
build/population
build/render
build/COVID_SIM_UI.exe
build/COVID_SIM_UI.exp
build/COVID_SIM_UI.lib
build/COVID_sim_lib.dll
build/COVID_sim_lib.exe
build/COVID_sim_lib.exp
.vs/
Debug/
*.pyc
ui_mainwindow.h
*.npy
*.pkl
COVID_SIM_UI.pro.user.*
build/COVID_DOE/*.dll
build/COVID_DOE/*.exe
build/COVID_DOE/*.ini
build/COVID_DOE/data/*
build/COVID_DOE/platforms/*.dll
build/COVID_post/*.dll
build/COVID_post/*.exe
build/COVID_post/*.ini
build/COVID_post/data/*
build/COVID_post/platforms/*.dll
build/COVID_visualize/COVID_SIM_UI*
build/COVID_visualize/configuration*
build/COVID_visualize/data/*
build/COVID_visualize/*.dll
build/COVID_visualize/population/demo_points/run*
build/COVID_visualize/platforms/*.dll
*.pdf
*.sgt
.qmake.stash
*.ts
libs/COVID_sim_lib*